p{
    font-family: 'Catamaran', sans-serif;
}

.titulos{
    font-family: 'Bebas Neue', cursive;
    color: #4D6737;
    font-size: 48px;
    margin: 50px;
    text-align: center;
}

.container .container_historia{
    min-height: 80vh;
    height: 500px;
    display: flex;
}

.container_historia{
    align-items: center;
}

.container_historia img{
    height: 400px;
    border-radius: 10px;
}

.esquerda{
    text-align: center;
}

h5{
    margin: 10px;
    color: #4D6737;
}

a{
    color: #4D6737;
}

.container_historia p{
    font-size: 14px;
    color: #878383;
}

.historia_resumo{
    margin: 0 30px;
}